@model IEnumerable<GestionStages.Models.Suivi>
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Sujets";
}

<h3 class="mb-4">Liste des sujets</h3>

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Titre du sujet</th>
            <th>Description</th>
            <th>Enseignant</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sujet in Model)
        {
            <tr>
                @* <td>@sujet.Titre</td>
                <td>@sujet.Description</td> *@
                <td>@sujet.Enseignant.NomEnseignant</td>
                <td>
                    @* <a class="btn btn-sm btn-primary" asp-action="EditSujet" asp-route-id="@sujet.IdSujet">Modifier</a>
                    <a class="btn btn-sm btn-danger" asp-action="SupprimerSujet" asp-route-id="@sujet.IdSujet">Supprimer</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>
