@model GestionStages.Models.Etudiant
<head></head>
<h2>Bienvenue @Model.NomComplet</h2>

<table>
    <tr>
        <th>Email :</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Téléphone :</th>
        <td>@Model.Telephone</td>
    </tr>
    <tr>
        <th>Filière :</th>
        <td>@Model.Filiere</td>
    </tr>
    <tr>
        <th>Niveau :</th>
        <td>@Model.Niveau</td>
    </tr>
    <tr>
        <th>Module :</th>
        <td>@Model.Module</td>
    </tr>
    <tr>
        <th>CNE :</th>
        <td>@Model.CNE</td>
    </tr>
</table>

<p>
    <a asp-controller="Auth" asp-action="Logout">Se déconnecter</a>
</p>
